<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- <property name="LOGS" value="./logs" /> -->
	<property name="LOGS" value="${java.io.tmpdir}/logs" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %-5level [%thread] %C %logger{36} -	%msg%n%xThrowable{full}%n%xException{full}</pattern>
		</layout>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/roche/orderservice/orderservice.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d %-5level [%thread] %C %logger{36} -	%msg%n%xThrowable{full}%n%xException{full}</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOGS}/archived/roche/orderservice/orderservice-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="AsynchronousLogger"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="RollingFile" />
		<queueSize>1000</queueSize>
	</appender>

	<root level="INFO">
		<appender-ref ref="AsynchronousLogger" />
		<appender-ref ref="Console" />
	</root>

</configuration>
